@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto:wght@700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #fee834;
  text-align: center;
}

button {
  font-size: 1.2rem;
  border: 0.25rem solid black;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border-radius: 5%;
}

button:hover,
button:focus {
  box-shadow: 0 0.25em 0.25em -0.25em #766b14;
  transform: translateY(-0.1em);
}

.game-buttons {
  display: none;
}

.output {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.scores {
  display: none;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.scores-info {
  padding: 1rem;
  margin-left: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80vw;
  width: 50vw;
  text-align: left;
  border: solid 1px black;
}

.instructions h2 {
  text-align: center;
  padding: 1rem;
}

.instructions p {
  margin-left: 2rem;
}

.home-btn a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-family: 'Bungee Shade', cursive;
}